<html lang="ua">
<head>
    <title>IASA Organiser</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://i.imgur.com/8pTfNU5.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<h1 id="iasa_organiser">IASA_Organiser</h1>
<p>Task:</p>
<p>Визначити різні класи подій в органайзері: (Completed)</p>
<ol>
    <li>Поодинокі</li>
    <li>Періодичні</li>
    <li>Повторювані після завершення</li>
    <li>З відміткою про результат виконання</li>
    <li>Тривалі у часі</li>
    <li>Дедлайни з нагадуванням</li>
</ol>
<p>Надати можливість задавати (Completed)</p>
<ol>
    <li>Місце</li>
    <li>Час</li>
    <li>Тривалість подій</li>
    <li>Важливість (пріоритет)</li>
    <li>Тематичні теги</li>
    <li>Посилання (на файли)</li>
</ol>
<p>Реалізувати автоматичне планування періодичних та повторюваних подій.</p>
<p>Реалізувати різні режими перегляду календаря:(Completed)</p>
<ol>
    <li>День, тиждень, місяць</li>
    <li>З фільтрацією подій по важливості</li>
    <li>Тегам</li>
</ol>
<p>Події сортувати за хронологією та пріоритетом.(Completed)</p>
<p>Додати підтримку бази данних</p>
<p>Створити веб-додаток</p>
</body>
</html>
