<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="fragments/templates :: header"/>

<body>
<main class="container">
    <th:block th:replace="fragments/templates :: navbar"/>

    <div class="content mt-5 ms-5 me-5">
        <h1 class="text-center">Add event</h1>

        <div class="row mt-5 mb-4">
            <div class="col-6">
                <h4><strong>Info:</strong></h4>
            </div>

            <div class="col-6">
                <h4><strong>Place:</strong></h4>
            </div>
        </div>

        <form class="row" th:object="${event}" th:action="@{/events/add}" method="post">
            <div class="col-6">
                <div class="mb-4">
                    <label class="form-label h5" th:for="name">Name</label>
                    <input class="form-control" type="text" placeholder="Name" th:field="*{name}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="date">Date</label>
                    <input class="form-control" type="date" th:field="*{date}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="time">Time</label>
                    <input class="form-control" type="time" th:field="*{time}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="duration">Duration</label>
                    <input class="form-control" type="time" th:field="*{duration}" required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5">Priority</label>
                    <select class="form-control" th:field="*{priority}">
                        <option th:each="priority : ${T(ua.kpi.iasa.IASA_Organiser.model.Priority).values()}"
                                th:value="${priority.name}" th:text="${priority.displayName}"></option>
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="mb-4">
                    <label class="form-label h5" th:for="country">Country</label>
                    <input class="form-control" type="text" placeholder="Country" th:field="*{place.country}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="city">City</label>
                    <input class="form-control" type="text" placeholder="City" th:field="*{place.city}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="street">Street</label>
                    <input class="form-control" type="text" placeholder="Street" th:field="*{place.street}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="number">Number</label>
                    <input class="form-control" type="text" placeholder="Number" th:field="*{place.number}"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label h5" th:for="letter">Letter</label>
                    <input class="form-control" type="text" placeholder="Letter" th:field="*{place.letter}"
                           required>
                </div>
            </div>

            <input class="btn btn-success text-center mt-5" type="submit" value="Add event">
        </form>
    </div>
</main>
</body>
</html>
