<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<th:block th:replace="fragments/templates :: header"/>

<body>
<main class="container">
    <th:block th:replace="fragments/templates :: navbar"/>

    <div class="content ms-5">
        <h1 class="display-1 mt-4 mb-4">IASA Organiser</h1>

        <h3>Task:</h3>
        <p>Визначити різні класи подій в органайзері: (Completed)</p>
        <ol class="list-style">
            <li>Поодинокі</li>
            <li>Періодичні</li>
            <li>Повторювані після завершення</li>
            <li>З відміткою про результат виконання</li>
            <li>Тривалі у часі</li>
            <li>Дедлайни з нагадуванням</li>
        </ol>
        <p>Надати можливість задавати (Completed)</p>
        <ol>
            <li>Місце</li>
            <li>Час</li>
            <li>Тривалість подій</li>
            <li>Важливість (пріоритет)</li>
            <li>Тематичні теги</li>
            <li>Посилання (на файли)</li>
        </ol>
        <p>Реалізувати автоматичне планування періодичних та повторюваних подій.</p>
        <p>Реалізувати різні режими перегляду календаря: (Completed)</p>
        <ol>
            <li>День, тиждень, місяць</li>
            <li>З фільтрацією подій по важливості</li>
            <li>Тегам</li>
        </ol>
        <p>Події сортувати за хронологією та пріоритетом. (Completed)</p>
        <p>Додати підтримку бази данних</p>
        <p>Створити веб-додаток</p>
    </div>
</main>
</body>
</html>
