<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="fragments/templates :: header"/>

<body>
<th:block th:replace="fragments/templates :: navbar"/>

<main class="container">
    <div class="content mt-5 ms-5 me-5">
        <h1 class="text-center">Add human</h1>
        <div class="row">
            <div class="col-lg-4 col-centered mt-5">
                <form th:object="${human}" th:action="@{/humans/add}" method="post">
                    <div class="mb-4">
                        <label class="form-label h5" th:for="firstName">First Name</label>
                        <input class="form-control" type="text" placeholder="First Name" th:field="*{firstName}"
                               required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label h5" th:for="lastName">Last Name</label>
                        <input class="form-control" type="text" placeholder="Last Name" th:field="*{lastName}"
                               required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label h5" th:for="phoneNumber">Phone number</label>
                        <input class="form-control" type="text" placeholder="Phone number" th:field="*{phoneNumber}"
                               required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label h5" th:for="email">Email</label>
                        <input class="form-control" type="text" placeholder="Email" th:field="*{email}" required>
                    </div>

                    <input class="btn btn-success" type="submit" value="Add human">
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
